
/* Tablet CSS */
/*@media only screen and (max-width: 991px) and (min-width:768px) {*/
  .clBox1 {
    width: 43%;
  }

  .clBox2 {
    width: 43%;
  }

  .clBox3 {
    margin-left: 4% !important;
    width: 90%;
  }